<div class="container">
    <div class="row">
        <div class="col-6 login-form">
            <form>
                <h1 class="text-center">BIENVENIDO</h1>
                <div class="form-group">
                    <input type="email" id="email" class="form-control" placeholder="Ingrese mail" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="Ingrese Contraseña" />
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    <a class="" href="/registro" role="button" aria-expanded="false">
                        Registrarse
                    </a>
                </div>
            </form>
        </div>
        <div class="col-6 image-container">
            <img src="imagenes/Yoshi-MarioKart.jpg" class="img-fluid" alt="Yoshi en Mario Kart">
        </div>
    </div>
</div>