<div class="row align-items-center">
    <div class="col border border-dark text-center"><h2>Mis Productos</h2></div>
    <div class="col-3 border border-dark align-items-center">
        <div class="row border border-dark">
            <div class="col-4 border border-dark"><a href="" type="button"><img /></a></div>
            <div class="col border border-dark"><h3 class="fs-6 m-0 border border-dark">Nuevo producto</h3></div>
        </div>
    </div>
</div>

@code {

}
