<div class="row mt-4 border border-dark">
    <div class="col-12">
        <h3>Descripción</h3>
    </div>
    <div class="col border border-dark">
        <p>
            Euch und ihr noch zauberhauch es naht trüben wohl widerklang fühl seh wird geisterreich wieder 
            lied ihr mein mein nun wohl die sich ihr geisterreich früh froher wieder ein stillen die wahn 
            fühlt hinweggeschwunden wiederholt nun verklungen guten sich jenem klage trüben nach getäuscht 
            jugendlich stillen es jenem liebe tränen sich halbverklungnen euren bringt euch widerklang 
            wiederholt verschwand sich mein noch mir euch mit diesmal und früh tränen der um gestalten 
            noch folgenden des irrt schwankende der seelen besitze naht sich aus meinem mich herz ihr 
            schauer ihr getäuscht ernsten
        </p>
    </div>
</div>

@code {

}
