@*<div class="container row mt-3">
    <div class="col-12 bg-danger fs-4">
        <h3 class="text-dark">Descripción</h3>
    </div>
    <div>
        <p>
            Durante las dos últimas décadas, Counter‑Strike ha proporcionado una experiencia competitiva de primer nivel
            para los millones de jugadores de todo el mundo que contribuyeron a darle forma. Ahora el próximo capítulo en
            la historia de CS está a punto de comenzar. Hablamos de Counter‑Strike 2.
        </p>
    </div>
</div>

@code {

}
*@
