<div class="row">
    <div class="col-4 align-content-center">
        <label class="container fs-6">@etiqueta</label>
    </div>
    <div class="col-8 fs-6">
        <p class="mb-0">@info</p>
    </div>
</div>

@code
{
    [Parameter] public string etiqueta { get; set; }
    [Parameter] public string info { get; set; }
}