<div class="row mt-4 border border-dark">
    <div class="col-12">
        <h3>Requisitos</h3>
    </div>
    <div class="col border border-dark">
        <div class="row">
            <h4>Mínimo</h4>
        </div>
        <ItemRequisitos etiqueta="SO :" info="Cargar con API o BBDD"/>
        <ItemRequisitos etiqueta="Procesador :" info="Cargar con API o BBDD" />
        <ItemRequisitos etiqueta="Memoria :" info="Cargar con API o BBDD" />
        <ItemRequisitos etiqueta="Gráficos :" info="Cargar con API o BBDD"/>
        <ItemRequisitos etiqueta="DirectX :" info="Cargar con API o BBDD"/>
        <ItemRequisitos etiqueta="Almacenamiento :" info="Cargar con API o BBDD" />

    </div>
    <div class="col border border-dark">
        <div class="row">
            <h4>Recomendado</h4>
            <ItemRequisitos etiqueta="SO :" info="Cargar con API o BBDD" />
            <ItemRequisitos etiqueta="Procesador :" info="Cargar con API o BBDD" />
            <ItemRequisitos etiqueta="Memoria :" info="Cargar con API o BBDD" />
            <ItemRequisitos etiqueta="Gráficos :" info="Cargar con API o BBDD" />
            <ItemRequisitos etiqueta="DirectX :" info="Cargar con API o BBDD" />
            <ItemRequisitos etiqueta="Almacenamiento :" info="Cargar con API o BBDD" />
        </div>
    </div>
</div>

@code {

}
