<div class="row">
    <div class="col border border-dark">
        <div class="row border border-dark">
            <div class="col-6 py-3 text-center border border-dark">
                <img src="/imagenes/logoSteam.jpg" class="img-fluid border border-dark" />
            </div>
            <div class="col my-auto border border-dark">
                <div class="row p-2 mb-2 border border-dark">
                    <div class="col border border-dark"></div>
                    <div class="col text-center border border-dark"><a href="/" class="btn btn-primary">PRECIO</a></div>
                </div>
                <div class="row p-2 border border-dark">
                    <div class="col border border-dark"></div>
                    <div class="col text-center border border-dark"><a href="/" class="btn btn-primary">POSTA</a></div>
                </div>
            </div>
        </div>
        <div class="row mt-4 border border-dark">
            <div class="col-6 py-2 text-center border border-dark">
                <img src="/imagenes/logoEpic.jpg" class="img-fluid border border-dark" />
            </div>
            <div class="col my-auto border border-dark">
                <div class="row p-2 mb-2 border border-dark">
                    <div class="col border border-dark"></div>
                    <div class="col text-center border border-dark"><a href="/" class="btn btn-primary">PRECIO</a></div>
                </div>
                <div class="row p-2 border border-dark">
                    <div class="col border border-dark"></div>
                    <div class="col text-center border border-dark"><a href="/" class="btn btn-primary">POSTA</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
