<div class="row">
    <div class="col mx-2">
        <div class="row border border-danger border-3 rounded">
            <div class="col-6 py-3 text-center">
                <img src="/imagenes/logoSteam.jpg" class="img-fluid" /> @*STEAM*@
            </div>
            <div class="col-3 my-auto">
                <div class="row p-2 mb-2">
                    <div class="col text-center rounded">
                        <a href="store.steampowered.com" class="btn btn-primary">U$D 10</a>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col text-center rounded">
                        <a href="store.steampowered.com" class="btn btn-primary">$ 10000</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 border border-danger border-3 rounded">
            <div class="col-6 py-2 text-center">
                <img src="/imagenes/logoEpic.jpg" class="img-fluid" /> @*EPIC*@
            </div>
            <div class="col-3 my-auto">
                <div class="row p-2 mb-2">
                    <div class="col text-center"><a href="www.epicgames.com" class="btn btn-primary">U$D 15</a></div>
                </div>
                <div class="row p-2">
                    <div class="col text-center"><a href="www.epicgames.com" class="btn btn-primary">$ 15000</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
