<div class="row border border-dark">
    <div class="col ms-5 ps-0 border border-dark"><h2>Nombre del juego</h2></div>
</div>
<div class="row border border-dark">
    <div class="col border border-dark">
        <img src="/imagenes/TheFinals.jpg"/ class="img-fluid">
    </div>
</div>

@code {

}
