<div class="row bg-danger rounded">
    <div class="col ms-5 ps-0"><h2 class="text-center">Counter - Strike 2</h2></div>
</div>
<div class="row mt-2">
    <div class="col">
        <img src="@imagenJuego" clas s="img-fluid">
    </div>
</div>

@code {
    [Parameter] public string imagenJuego {get; set;}
}
