<div class="container">
    <div class="row">
        <div class="col-6 registro-form">
            <form>
                <h1 class="text-center">REGISTRO</h1>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Apellido" />
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Ingrese mail" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Ingrese Contraseña" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Repetir contraseña" />
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Crear Cuenta</button>
                </div>
            </form>
        </div>
        <div class="col-6 image-container">
            <img src="/imagenes/Battlefield2042.jpg" class="img-fluid" alt="Battlefield 2042" />
        </div>
    </div>
</div>

@code {

}