<div class="row border border-primary my-3 mx-5 align-items-center">
    <div class="col border border-dark col-container">
        <form>
            <div class="row justify-content-center mt-5">
                <div class="col-6 border text-center border-dark">
                    <h1>REGISTRO</h1>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-6 text-center" placeholder="NOMBRE">
                    <input type="text" placeholder="Nombre"/>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-6 text-center">
                    <input type="text" placeholder="Apellido"/>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-6 text-center">
                    <input type="text" placeholder="Mail"/>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-6 text-center">
                    <input type="text" placeholder="Contraseña"/>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-6 text-center">
                    <input type="text" placeholder="Repetir contraseña"/>
                </div>
            </div>
            <div class="row mt-3 mb-5 justify-content-center">
                <div class="col-4 border border-dark p-0">
                    <button>
                        Crear Cuenta
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col text-center border border-dark">
        <img src="/imagenes/Battlefield2042.jpg" class="img-fluid" alt="Imagen del juego Battlefield 2042" />
    </div>
</div>

@code {

}
