@page "/listaGraph"
@using FlaggGaming.Model.apiEpic
@inject FlaggGaming.Services.APIEpic.JuegosEpicListaParcialService serviceListaEpic

<h3>PruebaEpicGraph</h3>
<ul>
    @if (listaJuegos != null)
    {
        @foreach (Element juego in listaJuegos)
        {

            <li>@($"{juego.title} {juego.price.totalPrice.fmtPrice.discountPrice}")</li>
        }
    }
</ul>

@code {
    public List<Element> listaJuegos = new List<Element>();

    protected async override Task OnInitializedAsync()
    {
        listaJuegos = await serviceListaEpic.getListaJuegosEpic();
    }
}
