<div class="row border border-dark">
    <div class="col-12 border border-dark">
        <div class="row mb-3 border border-dark">
            <h2 class="border border-dark">
                <NavLink href="/hardwareGeneral">PRODUCTOS</NavLink>
            </h2>
        </div>
    </div>
    <div class="col py-3">
        <ul>
            <li><NavLink href="/procesadores">Procesadores</NavLink></li>
            <li>Mother</li>
            <li>Menoria</li>
            <li>Discos</li>
            <li>Placa de video</li>
        </ul>
    </div>
</div>

@code {

}
