@page "/hardwaregeneral"
@using FlaggGaming.Model
@layout HardwareLayout

<div class="row row-cols-4 py-4 border border-dark">
    @if (listaHardware != null)
    {
        @foreach (Hardware hard in listaHardware)
        {
            <div class="col border border-dark">
                <div class="row border border-dark">
                    <div class="col border border-dark">
                        <NavLink href=@hard.href>
                            <img src=@hard.urlImagen alt="" class="img-thumbnail border border-dark" />
                        </NavLink>    
                    </div>
                </div>
                <div class="row border border-dark">
                    <div class="col text-center border border-dark">
                        <h3 class="border border-dark">@hard.Name</h3>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    private List<Hardware> listaHardware = new();
    private Hardware hardProcesador = new("Procesadores", "/imagenes/procesadores.jpg","/procesadores");
    private Hardware hardPlacaVideo = new("Placas de video", "/imagenes/placasVideo.jpg", "/placasVideo");
    private Hardware hardMother = new("Motheboards", "/imagenes/mother.jpg", "/mothers");
    private Hardware hardMemoria = new("Memorias", "/imagenes/memorias.jpg", "/memorias");
    private Hardware hardDiscos = new("Discos", "/imagenes/discos.jpg", "/discos");
    private Hardware hardGabinetes = new("Gabinetes", "/imagenes/gabinetes.jpg", "/gabinetes");
    private Hardware hardFuentes = new("Fuentes", "/imagenes/fuentes.jpg", "/fuentes");
    private Hardware hardPerifericos = new("Perifericos", "/imagenes/perifericos.jpg", "/perifericos");

    protected override void OnInitialized()
    {
        listaHardware.Add(hardProcesador);
        listaHardware.Add(hardPlacaVideo);
        listaHardware.Add(hardMother);
        listaHardware.Add(hardMemoria);
        listaHardware.Add(hardDiscos);
        listaHardware.Add(hardGabinetes);
        listaHardware.Add(hardFuentes);
        listaHardware.Add(hardPerifericos);
    }

}
