@using FlaggGaming.Model.tienda
@inject FlaggGaming.Entity.DatosContext contextoDatos

<div class="row mb-3 align-items-center bg-white">
    <div class="col-3 text-center">
        <img src=@("imagenes/" + unProducto.IdCategoriaNavigation.DescCategoria + ".png") class="img-thumbnail w-75" />
    </div>
    <div class="col-6 p-3 pb-0 mb-0">
        <div class="mb-3">
            <h3 class="fw-bold">@unProducto.SkuTienda</h3>
            <h3>@unProducto.Marca</h3>
        </div>
        <div class="mb-3">
            <h3 class="fs-4 fw-bold">$ @unProducto.PrecioVta</h3>
            <h4>@unProducto.IdCategoriaNavigation.DescCategoria</h4>
        </div>
        <div class="">
            <NavLink href="" class="btn btn-primary">Visitar tienda</NavLink> //esto va a la vista de información de la tienda
        </div>
    </div>
</div>

@code {
    [Parameter] public FlaggGaming.Model.tienda.Producto unProducto{ get; set; }    
}