@using FlaggGaming.Model

<div class="row mb-4 align-items-center bg-white">
    <div class="col-3 text-center">
        <img src=@unHardware.urlImagen alt="" class="img-fluid" />
    </div>
    <div class="col-6 p-5">
        <div class="mb-3">
            <h2>@unHardware.Name</h2>
        </div>
        <div class="mb-3">
            <h3>$ @unHardware.Price</h3>
        </div>
        <div>
            <NavLink href="" class="btn btn-primary">Comprar</NavLink>
        </div>
    </div>
    <div class="col-3 text-center">
        <h3>Razor.CO</h3>
    </div>
</div>

@code {
    [Parameter] public Hardware unHardware { get; set; } = new Hardware();
}