@using FlaggGaming.Model.tienda

<div class="row bg-white">
    <div class="col-12 mb-2">
        <h2>Descripción del producto</h2>
    </div>
    <div class="col">
        <p>
            @unProducto.DescTienda
        </p>
    </div>
    <!-- <div class="col">
        <p>
            Verklungen nicht erfreuet hören träne mit zu sich labyrinthisch ihr sehnen in bilder tränen steigt erste beifall fühl faßt menge mögt äolsharfe guten bringt irren ich lebens bringt in neu freundschaft drängt sich euch herauf der hören nebel und mein an mich und ich äolsharfe tränen gestalten lispelnd dem im lieb ich der mir sich welt blick labyrinthisch euch mild äolsharfe lebt es die ihr beifall strenge mein hinweggeschwunden das festzuhalten nennt ihr selbst ich ich mild erste klage seelen und verklungen fühlt äolsharfe sich klage folgenden und der ihr zerstoben diesmal wahn die lieb im ernsten strenge tönen mich
        </p>
    </div> -->
</div>

@code {
    [Parameter] public FlaggGaming.Model.tienda.Producto unProducto { get; set; }
}