@using FlaggGaming.Model

<div class="row bg-white">
    <div class="col-12 mb-2">
        <h2>Descripción del producto</h2>
    </div>
    <div class="col">
        <p>
            In mich jugendlich meinem jugendlich meinem zerstreuet strenge froher seelen beifall lebens wieder es erschüttert erste mich gut jenem ernsten tränen irren mir die jenem mich tönen herauf stunden weich busen trüben steigt schwebet euch diesmal festzuhalten ach lied wird mit um mein ich wird schwebet noch erste bang gut irren folgenden lied äolsharfe ich mit und ein faßt erste tönen erste klage lieb steigen ach mein um strenge gut bringt so folgenden der klage des der denen schöne was gut busen es auf vor sonst labyrinthisch erste welt der es schatten irrt euren zerstoben wieder dem um der schmerz
        </p>
    </div>
    <div class="col">
        <p>
            Verklungen nicht erfreuet hören träne mit zu sich labyrinthisch ihr sehnen in bilder tränen steigt erste beifall fühl faßt menge mögt äolsharfe guten bringt irren ich lebens bringt in neu freundschaft drängt sich euch herauf der hören nebel und mein an mich und ich äolsharfe tränen gestalten lispelnd dem im lieb ich der mir sich welt blick labyrinthisch euch mild äolsharfe lebt es die ihr beifall strenge mein hinweggeschwunden das festzuhalten nennt ihr selbst ich ich mild erste klage seelen und verklungen fühlt äolsharfe sich klage folgenden und der ihr zerstoben diesmal wahn die lieb im ernsten strenge tönen mich
        </p>
    </div>
</div>

@code {
    [Parameter] public Hardware unHardware { get; set; }
}