@using FlaggGaming.Model.tienda

<div class="row bg-white">
    <div class="col-12 mb-2">
        <h2 class="fs-3">Descripción del producto</h2>
    </div>
    <hr />
    <div class="col">
        <p>
            @unProducto.DescTienda
        </p>
    </div>
</div>

@code {
    [Parameter] public FlaggGaming.Model.tienda.Producto unProducto { get; set; }
}