<div class="row mb-3 p-2 border border-dark">
    <div class="col p-0 text-end border border-dark"><h2 class="mx-0">Carga de Productos</h2></div>
    
    <div class="col-4 p-0 text-center border border-dark">
        <a href="" class="btn btn-primary mx-0">Carga Masiva xlsx</a>
    </div>
</div>

@code {

}
