@using FlaggGaming.Model
@using FlaggGaming.Services.ServicioUsuario
@using FlaggGaming.Model.tienda
@inject FlaggGaming.Entity.DatosContext datosService
@using System.Linq
@using Microsoft.EntityFrameworkCore

<div class="row justify-content-center formulario-carga-producto">
    <div class="col-12 text-center mb-4">
        <div class="col-auto text-end mb-2">
            <a href="" class="btn btn-primary">Carga Masiva xlsx</a>
        </div>
        <a href="/" class="d-block mx-auto py-3 border rounded-3 subir-imgo">
            <img src="/favicon.png" class="img-fluid mb-2 p-img" alt="Subir Foto">
            <div>Subir Foto</div>
        </a>
    </div>
    <div class="col-6 mb-3 p-4 rounded-3 border">
        <div class="row mb-3 align-items-center">
            <label for="idProducto" class="col-4 col-form-label">ID Producto</label> 
            <div class="col-8">
                <input id="idProducto" type="text" class="form-control" />
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="descripcion" class="col-4 col-form-label">Descripción</label>
            <div class="col-8">
                <input id="descripcion" type="text" class="form-control" />
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="categoria" class="col-4 col-form-label">Categoría</label>
            <div class="col-8">
                <select id="categoria" class="form-select">
                     @foreach (var categoria in categoriaFiltrados)
        {
                    <option>@categoria.DescCategoria</option>
        }
                </select>
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="marca" class="col-4 col-form-label">Marca</label>
            <div class="col-8">
                <input id="marca" type="text" class="form-control" />
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <label for="precioVenta" class="col-4 col-form-label">Precio</label>
            <div class="col-8">
                <input id="precioVenta" type="text" class="form-control" />
            </div>
        </div>
        <div class="row align-items-center">
            <label for="estado" class="col-4 col-form-label">Estado</label>
            <div class="col-8">
                <select id="estado" class="form-select">
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>
        </div>
        <div class="col-12 text-center mt-4">
            <a class="btn btn-success" href="">Agregar Producto</a>
        </div>
    </div>
</div>

@code {
    [Parameter] public Juego unJuego { get; set; } = new Juego();

    private void metodoParaProcesarElFormulario()
    {

    }

    private List<Categoria> categorias = new List<Categoria>();
    private string searchTerm = ""; // Variable para almacenar el término de búsqueda

    //Propiedad que devuelve la lista de tiendas filtradas según el término de búsqueda
    private IEnumerable<Categoria> categoriaFiltrados =>
    categorias.Where(c => string.IsNullOrEmpty(searchTerm) || c.DescCategoria.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));

    protected override async Task OnInitializedAsync()
    {
        categorias = await datosService.Categorias.ToListAsync();
    }
}