@using FlaggGaming.Model.juegoFlagg

<div class="col-5 card cardHover">
    <a href="juego/@unJuego.idFlagg" class="text-decoration-none text-dark">
        <div class="row">
            <div class="col-md-8 card-body">
                <h2 class="card-title">@unJuego.nombre</h2>
                <p class="card-text">@unJuego.descripcionCorta</p>
            </div>
            <div class="col-md-8 d-flex align-content-center">
                <img class="img-fluid" src=@unJuego.imagenMini />
            </div>
            @if (unJuego.oferta != null)
            {
                <div class="col-md-4 fs-1">@unJuego.oferta.discount_percent.ToString() %</div>
            }
        </div>
    </a>
</div>


@code
{
    [Parameter]
    public JuegoFlagg? unJuego { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (unJuego.descripcionCorta.Length > 150)
        {
            unJuego.descripcionCorta = unJuego.descripcionCorta.Substring(0, 150) + "...";
        }
    }
}