@using FlaggGaming.Model.juegoFlagg
@using FlaggGaming.Services
@inject FlaggGaming.Services.juegosIndexService destacadosService


@if (arrayMasBuscados != null)
{
    <div class="row p-3 m-1">
        <div class="col-12 text-center"><h2 class="fs-1">Mas Buscados</h2></div>
        <hr />
        <div class="col">
            @for (int i = 0; i < 4; i++)
            {
                <div class="row mt-3 justify-content-between px-2">
                    <CardJuego unJuego="@arrayMasBuscados[i]" />
                    <CardJuego unJuego="@arrayMasBuscados[i+1]" />
                </div>
                i++;
            }
        </div>
    </div>

}

@code
{
    [Parameter] public JuegoFlagg[] arrayMasBuscados { get; set;}
}