<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Acerca de Flagg Gaming</h2>
        </div>
    </div>
    <hr size="20" />
    <div class="row">
        <p>
            Nuestra web y app mobile  ayudará a los usuarios argentinos a poder comparar precios y encontrar los videojuegos más económicos de tiendas oficiales (Steam, Epic) y a la vez pudiendo ayudarlo
            a conocer el precio aproximado REAL que pagaría incluidos los impuestos o el tipo de cambio del dólar (en el caso que la tienda sea en USD). Junto con esto le permitiremos pronosticar el precio
            del videojuego a futuro mediante el IPC estimado (Índices de Precios al Consumidor).
            Adicional, entregaremos a las tiendas y emprendedores físicas que se suscriban a nuestro sistema a que puedan publicar sus datos, productos en venta y precios para que podamos comparar y
            ayudarlos a tener un mayor alcance a los usuarios que requieren de sus productos.
        </p>
    </div>
    <div class="row">
        <div class="col">
            <h3>¿De donde vino la idea?</h3>
        </div>
    </div>
    <hr size="20" />
    <div class="row nos-tarjeta">
        <p>
            Alejandro Daniel Solodujin
        </p>
        <div class="col-2">
            <img class="imagen-nosotros" src="/imagenes/Ale.jpg" alt="Foto Ale" />
        </div>
        <div class="col-8">
            <p><em>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim possumus hoc agere divinius? Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Summum a
                vobis bonum voluptas dicitur. Quid censes in Latino fore?"
                </em>
            </p>
        </div>


    </div>
    <div class="row nos-tarjeta">
        <p>
            Franco Ouro
        </p>
        <div class="col-2">
            <img class="imagen-nosotros" src="/imagenes/Fran.jpg" alt="Foto Fran" />
        </div>
            <div class="col-8">
                <p><em>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim possumus hoc agere divinius? Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Summum a
                    vobis bonum voluptas dicitur. Quid censes in Latino fore?"
               </em></p>
                
        </div>
    </div>
    <div class="row nos-tarjeta">

        <p>
            Angel Gastón Mansilla
        </p>
        <div class="col-2">
            <img class="imagen-nosotros" src="/imagenes/Gas.jpg" alt="Foto Gas" />
        </div>
        <div class="col-8">
            <p><em>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim possumus hoc agere divinius? Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Summum a
                vobis bonum voluptas dicitur. Quid censes in Latino fore?"
                </em>
            </p>
        </div>
    </div>
    <div class="row nos-tarjeta">

        <p>
            Lucas Marenco
        </p>
        <div class="col-2">
            <img class="imagen-nosotros" src="/imagenes/Luc.jpg" alt="Foto Luc" />
        </div>
        <div class="col-8">
            <p><em>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim possumus hoc agere divinius? Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Summum a
                vobis bonum voluptas dicitur. Quid censes in Latino fore?"
            </em></p>
        </div>
        </div>
        <div class="row nos-tarjeta">

            <p>
                Germán Pardo
            </p>
            <div class="col-2">
                <img class="imagen-nosotros" src="/imagenes/Ger.jpg" alt="Foto Ger" />

            </div>
            <div class="col-8">
                <p><em>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim possumus hoc agere divinius? Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Summum a
                    vobis bonum voluptas dicitur. Quid censes in Latino fore?"
               </em> </p>

            </div>
        </div>
    
</div>

@code {

}
