<div class="container-fluid">
    <div class="row">
<div class="col">
<h3>Sobre nosotros</h3>
        </div>
    </div>
<div class="row">
<div class="col">
    <img class="imagen-nosotros" src="/imagenes/Ale.jpg" alt="Foto Ale" />
    <p>
        Alejandro Daniel Solodujin
    </p>
</div>
<div class="col">
    <img class="imagen-nosotros" src="/imagenes/Fran.jpg" alt="Foto Fran" />
    <p>
        Franco Ouro
    </p>
</div>
        <div class="col">
    <img class="imagen-nosotros"  src="/imagenes/Gas.jpg" alt="Foto Gas" />
    <p>
        Angel Gastón Mansilla
    </p>
</div>
    </div>
    <div class="row">
        <div class="col">
    <img class="imagen-nosotros"  src="/imagenes/Luc.jpg" alt="Foto Luc" />
    <p>
        Lucas Marenco
    </p>
</div>
        <div class="col">
    <img class="imagen-nosotros"  src="/imagenes/Ger.jpg" alt="Foto Ger" />
    <p>
        Germán Pardo
    </p>
</div>
    </div>
</div>

@code {

}
