@page "/perfiltienda"
@inject NavigationManager Navigation
@using FlaggGaming.Pages.componentesLogin
@using FlaggGaming.Services.ServicioUsuario


@if (!ServicioUsurioLogin.rolTienda)
{
    <div class="continer">
        <div class="row my-5 justify-content-center">
            <div class="col-7 text-center">
                <p class="fs-1 text-success">Error de acceso, pruebe con otra url.</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <h1 class="text-center">PERFIL TIENDA</h1>

                    <!-- Usuario -->
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" placeholder="Admin" disabled>
                    </div>

                    <!-- Nombre de Tienda -->
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" placeholder="FlaggGaming">
                    </div>

                    <!-- Correo Electrónico -->
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" class="form-control" id="email" placeholder="flaggaming@mail.com">
                    </div>

                    <!-- Ubicacion -->
                    <div class="form-group">
                        <label for="location">Ubicacion</label>
                        <input type="text" class="form-control" id="location" placeholder="Capital Federal">
                    </div>

                    <!-- Direccion -->
                    <div class="form-group">
                        <label for="adress">Direccion</label>
                        <input type="text" class="form-control" id="addres" placeholder="Calle Falsa 123">
                    </div>

                    <!-- Horario -->
                    <div class="form-group">
                        <label for="time">Horarios</label>
                        <input type="text" class="form-control" id="time" placeholder="Lunes a Sabados 9:00hs a 17:00hs">
                    </div>

                    <!-- Contacto -->
                    <div class="form-group">
                        <label for="contact">Contacto</label>
                        <input type="text" class="form-control" id="contact" placeholder="15-7777-3333">
                    </div>

                    <!-- Contraseña -->
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="********">
                    </div>

                    <div class="col">
                        <div class="text-center mt-2">
                            <!-- Botón Guardar Cambios -->
                            <button type="submit" class="btn btn-danger">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}