@page "/harwarelayout"
@using FlaggGaming.Pages.componentesHardwareLayout
@layout MainLayout
@inherits LayoutComponentBase

<div class="row border border-dark">
    <div class="col-3 border border-dark">
        <Aside/>
    </div>
    <div class="col border border-dark">
        <Banner/>
        @Body
    </div>
</div>

@code {

}
