@page "/juego"
@using FlaggGaming.Pages.componentesJuego
@using FlaggGaming.Pages.componentesIndex


<Carousel/>

<div class="row">
    <div class="col">
        <TituloEImagen/>
        <Requisitos/>
    </div>
    <div class="col">
        <SteamEpic/>
        <Descripcion/>
    </div>
</div>

@code {

}
