@page "/juego"
@using FlaggGaming.Pages.componentesJuego
@using FlaggGaming.Pages.componentesIndex

<Carousel />

<div class="row">
    <div class="col">
        <TituloEImagen />
    </div>
    <div class="col">
        <SteamEpic />
    </div>
</div>

<Requisitos />
<Descripcion />

@code {

}
