@page "/listajuegos"

@using FlaggGaming.Model

<div class="row">
    <div class="col-9 text-center">
        <h1>LISTA DE JUEGOS</h1>
    </div>
    <div class="col-3 text-right">
        <input type="text" class="search-box" placeholder="Buscar Juego" style="width: 100%; font-size: 18px;">
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h2>STEAM</h2>
        <div class="col-6 card clickable-card" style="margin-bottom: 10px;">
            <img class="card-img" src="/imagenes/cs2.jpg" alt="Juego1" />
            <div class="card-body">
                <div class="card-info">
                    <p class="product-name"> Counter-Strike 2 </p>
                    <p class="product-price"> Free </p>
                </div>
            </div>
        </div>

        <div class="col-6 card clickable-card" style="margin-bottom: 10px;">
            <img class="card-img" src="/imagenes/AlanWake2.jpg" alt="Juego2" />
            <div class="card-body">
                <div class="card-info">
                    <p class="product-name"> Alan Wake II </p>
                    <p class="product-price"> USD 10,50 </p>
                </div>
            </div>
        </div>

        <div class="col-6 card clickable-card" style="margin-bottom: 10px;">
            <img class="card-img" src="/imagenes/Battlefield2042.jpg" alt="Juego3" />
            <div class="card-body">
                <div class="card-info">
                    <p class="product-name"> BattleField 2042 </p>
                    <p class="product-price"> USD 35,00 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <h2>EPIC GAMES</h2>
        <div class="col-6 card clickable-card" style="margin-bottom: 10px;">
            <img class="card-img" src="/imagenes/cs2.jpg" alt="Juego1" />
            <div class="card-body">
                <div class="card-info">
                    <p class="product-name"> Counter-Strike 2 </p>
                    <p class="product-price"> Free </p>
                </div>
            </div>
        </div>

        <div class="col-6 card clickable-card" style="margin-bottom: 10px;">
            <img class="card-img" src="/imagenes/AlanWake2.jpg" alt="Juego2" />
            <div class="card-body">
                <div class="card-info">
                    <p class="product-name"> Alan Wake II </p>
                    <p class="product-price"> USD 15,00 </p>
                </div>
            </div>
        </div>

        <div class="col-6 card clickable-card" style="margin-bottom: 10px;">
            <img class="card-img" src="/imagenes/Battlefield2042.jpg" alt="Juego3" />
            <div class="card-body">
                <div class="card-info">
                    <p class="product-name"> BattleField 2042 </p>
                    <p class="product-price"> USD 25,00 </p>
                </div>
            </div>
        </div>
    </div>
</div>