@page "/shop"
@using FlaggGaming.Pages.componentesIndex
@using FlaggGaming.Pages.componentesShopComercio

<img src="/imagenes/bannerHardware.jpg" alt="banner" class="img-fluid" />
<div>
    <div class="col">
        <LogoDatos />
        <Mapa />               
    </div>
    <div class="col">
        <OfertasShop/>
    </div>
</div>



@code {
    
}
