@page "/shop"
@using FlaggGaming.Pages.componentesIndex
@using FlaggGaming.Pages.componentesShopComercio

<Carousel/>

<div class="row border border-dark">
    <div class="col-8 border border-dark">
        <LogoDatos />
        <Mapa/>
    </div>
    <div class="col border border-dark">
        <OfertasShop/>
    </div>
</div>



@code {
    
}
