<footer class="footer">

    <div class="container">

    <div class="row">
    <div class="col" id="arrowTop" hidden></div>
    </div>
    <div class="row">
    <div class="col logo_Text">
        <img class="logo_white" src="/imagenes/logoflaggWhite2.png" alt="Logo Flagg en blancot" />
            <p class="bajada">
                El equipo de FLAGG se enfocó en la creación de una Web y App Mobile llamada “FLAGG Gaming”, la cual se centrará en ayudar al usuario gamer Argentino, a poder encontrar el mejor precio con nuestra poderosa herramienta de comparación de juegos, junto con el módulo de cálculos de impuestos (“Precio Posta”) y la previsión de precios a futuro (“Precio Pare de Sufrir”).
                Adicional a esto, los juegos que viniesen en dólares serán autoconvertidos al tipo de cambio REAL también.
                Para no dejar a nuestras queridas tiendas gamers, habilitamos una sección para que puedan registrarse y hacer llegar sus locales y los productos que disponibiliza en sus tiendas.
            </p>
      </div>
    <div class="col redes_sociales">
    
            <p class="gracias">
                ¡Gracias!
            </p>
            <p class="invitacion">
                El equipo de FLAGG Gaming los invita a unirse a nuestro sitio web y descargar nuestra aplicación.
            </p>

        <ul class="redes_sociales_lks">
            <li>
                <a href="https://www.instagram.com/">
                <svg role="presentation" viewBox="0 0 16 16" fill="white" class="h-8 w-8"><path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path></svg>
                &commat;FlaggGaming</a>
            </li>
            <li>
                <a href="https://www.flagggaming.com.ar/">
                    <svg viewBox="0 0 24 24" fill="white" class="h-8 w-8" aria-hidden="true"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"></path></svg>
                www.flagggaming.com.ar (proximamente)</a>
            </li>
            <li>
                <a href="">
                    <svg fill="white" class="h-8 w-8" viewBox="0 0 512 512" aria-hidden="true"><path d="M48,59.49v393a4.33,4.33,0,0,0,7.37,3.07L260,256,55.37,56.42A4.33,4.33,0,0,0,48,59.49Z" /><path d="M345.8,174,89.22,32.64l-.16-.09c-4.42-2.4-8.62,3.58-5,7.06L285.19,231.93Z" /><path d="M84.08,472.39c-3.64,3.48.56,9.46,5,7.06l.16-.09L345.8,338l-60.61-57.95Z" /><path d="M449.38,231l-71.65-39.46L310.36,256l67.37,64.43L449.38,281C468.87,270.23,468.87,241.77,449.38,231Z" /></svg>
                Flagg Gaming ARG (proximamente)</a>
            </li>
            <li>
                <a href="https://tzunami90.github.io/flaggCorporativo">
                 <svg viewBox="0 0 24 24" fill="white" class="h-8 w-8" aria-hidden="true"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"></path></svg>
                 https://tzunami90.github.io/flaggCorporativo (corporativo) </a>
            </li>
</ul></div>
    </div>
    <div class="row">

    <div class="col" data-component="Copyright">
        <div class="copyright-paragraph">
            <span class="text-color-nonactive" data-component="Copyright">© 2024, FlaggGaming. Todos los derechos resevados. Flagg, FlaggGaming, el logotipo de FlaggGaming son marcas comerciales o marcas registradas de FlaggGaming en Argentina y en otros lugares. Las otras marcas o nombres de productos son marcas registradas de sus respectivos dueños. &nbsp;&nbsp;</span><span class="text-color-nonactive" data-component="Copyright">Nuestros sitios web podrían tener enlaces a otros sitios y recursos proporcionados por terceros. Estos enlaces se proporcionan solo para tu comodidad. FlaggGaming no tiene control sobre el contenido de esos sitios o recursos, y no acepta ninguna responsabilidad por ellos ni por las pérdidas o daños que puedan surgir a partir del uso que hagas de ellos.&nbsp;&nbsp;

            </span>
            </div>
     </div>
    </div>
    </div>

    <script>

        arrowTop.onclick = function () {
            window.scrollTo(pageXOffset, 0);
            // después de scrollTo, habrá un evento "scroll", entonces la flecha se ocultará automáticamente
        };

        window.addEventListener('scroll', function () {
            arrowTop.hidden = (pageYOffset < document.documentElement.clientHeight);
        });
    </script>

</footer>