@inherits LayoutComponentBase

<PageTitle>FlaggGaming</PageTitle>

<div class="container border border-dark">
    
    <NavMenu />
    

    <main class="row">
        <article class="col content px-4">
            @Body
        </article>
    </main>
</div>
