@inherits LayoutComponentBase

<PageTitle>FlaggGaming</PageTitle>

 <NavMenu />

<div class="container border border-dark">
    <main class="row">
        <article class="col content px-4">
            @Body
        </article>
    </main>
</div>
