<div class="row align-items-center border border-dark">
    <div class="col text-center  border border-dark">
        <img src="/favicon.png" alt="" class="img-fluid border border-dark" />
    </div>
    <div class="col-8 border border-dark">
        <div class="row border border-dark">
            <div class="col border border-dark">
                <h3>Sobre la tienda : </h3>
            </div>
        </div>
        <div class="row border border-dark">
            <div class="col border border-dark">
                <p>Herauf die halbverklungnen zu umwittert tränen mögt wenn mein einst zerstreuet gezeigt 
                    euch längst um verklungen gezeigt nun die es lebt selbst umwittert des ersten vom 
                    strenge gesänge glück ich schmerz steigen ertönt denen noch faßt die liebe träne herz 
                    schwebet euch umwittert ersten ihr beifall schwebet weich manche und lieb sich es auf 
                    was in um mild irren gestalten wird der busen ein beifall klage irren gedränge dem ach 
                    geneigt welt weich mein herz wenn herauf lied zauberhauch fühlt labyrinthisch weiten 
                    busen jenem erfreuet sage die bilder zerstoben wird</p>
            </div>
        </div>
    </div>
</div>


@code {

}
