<div class="row align-items-center">
    <div class="col text-center">
        <img src="/imagenes/venta.png" alt="" class="img-fluid" />
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h3>Sobre la tienda</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>¡Bienvenidos a GameHub! Ofrecemos consolas de última generación, una amplia selección de juegos, y accesorios gamer como teclados mecánicos, ratones precisos, auriculares envolventes, y sillas ergonómicas. Además, contamos con PCs de alta gama, componentes, monitores 4K, y merchandising de tus juegos favoritos. Visítanos y disfruta de nuestras zonas de juego y eventos especiales. ¡Vive la mejor experiencia gamer en GameHub!</p>
            </div>
        </div>
    </div>
</div>


@code {

}
