@inject IJSRuntime Javascript

<div class="row">
    <div class="col-md-8 mx-auto my-3">
        <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3" class="shadow-sm p-3 mb-5 bg-white rounded overflow-hidden">
            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3" style="width: 100%; height: 400px; border-radius: 0.25rem;"></div>
            <script>
                window.ejecutarMapa = () => {
                    var setting = {
                        "query": "Plaza Irlanda, Avenida Gaona, Buenos Aires, Argentina",
                        "width": "100%",
                        "height": 400,
                        "satellite": false,
                        "zoom": 15,
                        "placeId": "ChIJz9QfqR7KvJUR3ySPoGl57ro",
                        "cid": "0xbaee7969a08f24df",
                        "coords": [-34.6146622, -58.4578676],
                        "lang": "es",
                        "queryString": "Plaza Irlanda, Avenida Gaona, Buenos Aires, Argentina",
                        "centerCoord": [-34.6146622, -58.4578676],
                        "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                        "embed_id": "1066343"
                    };
                    var d = document;
                    var s = d.createElement('script');
                    s.src = 'https://1map.com/js/script-for-user.js?embed_id=1066343';
                    s.async = true;
                    s.onload = function (e) {
                        window.OneMap.initMap(setting);
                    };
                    var to = d.getElementsByTagName('script')[0];
                    to.parentNode.insertBefore(s, to);
                };
            </script>
        </div>
        <a href="https://1map.com/es/map-embed" class="text-decoration-none d-block text-center mt-2">
            <img src="/imagenes/location.png" alt="Mapa" class="img-fluid" />
            Ver en mapa
        </a>
    </div>
</div>

@code {
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Javascript.InvokeAsync<object>("ejecutarMapa");
            firstRender = false;
        }
    }
}
@code {
    /*protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Javascript.InvokeAsync<object>("ejecutarMapa");
            firstRender = false;
        }
    }*/
}