@using FlaggGaming.Model

<div class="row">
    <div class="col-12">
        <h2>OFERTAS</h2>
    </div>

    <div class="col-5 card cardHvr">
        <div class="row">
            <div class="col-md-8 card-body">
                <h2 class="card-title">Disco</h2>
                <p>Un disco SSD (Solid State Drive) es un dispositivo de almacenamiento rápido y eficiente que utiliza memoria flash en lugar de discos giratorios como los HDD. Ofrece mayor velocidad de lectura y escritura, menor tiempo de arranque del sistema, y es más resistente a golpes y caídas.</p>
            </div>
            <div class="col-md-8 d-flex align-content-center">
                <img src="/imagenes/discos.jpg" class="img-fluid" />
            </div>
            <div class="col">
                <p class="card-text">Precio</p>
                <p class="card-text">$7500</p>
            </div>
        </div>
    </div>

    <div class="col-5 card cardHvr">
        <div class="row">
            <div class="col-md-8 card-body">
                <h2 class="card-title">Fuente</h2>
                <p>Una fuente de PC convierte la corriente alterna de la red eléctrica en corriente continua para los componentes del ordenador. Proporciona energía a la placa base, CPU, GPU, discos y otros periféricos. Su capacidad se mide en vatios, y una buena fuente garantiza estabilidad y protección contra sobrecargas.</p>
            </div>
            <div class="col-md-8 d-flex align-content-center">
                <img src="/imagenes/fuentes.jpg" class="img-fluid" />
            </div>
            <div class="col">
                <p class="card-text">Precio</p>
                <p class="card-text">$10000</p>
            </div>
        </div>
    </div>

    <div class="col-5 card cardHvr">
        <div class="row">
            <div class="col-md-8 card-body">
                <h2 class="card-title">Fuente</h2>
                <p>Un gabinete de PC es la estructura que alberga y protege todos los componentes internos del ordenador. Ofrece espacio para la placa base, discos, tarjetas gráficas, y ventilación adecuada. Viene en varios tamaños y diseños, con opciones para gestión de cables y expansión futura. Es esencial para la organización y enfriamiento del sistema.</p>
            </div>
            <div class="col-md-8 d-flex align-content-center">
                <img src="/imagenes/gabinetes.jpg" class="img-fluid" />
            </div>
            <div class="col">
                <p class="card-text">Precio</p>
                <p class="card-text">$30000</p>
            </div>
        </div>
    </div>
    
    @*<div class="col">
        <div class="col">
            <img src="/imagenes/discos.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h3>Precio</h3>
                    <div class="row">
                        <p>$7500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col">
            <img src="/imagenes/fuentes.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h3>Fuente</h3>
                    <div class="row">
                        <p>$5000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    @*<div class="col scroll-div">
        @if (listaOfertas != null)
        {
            @foreach (Juego oferta in listaOfertas)
            {
                <div class="row">
                    <div class="col">
                        <img src=@oferta.urlImagen alt="" class="img-thumbnail" />
                    </div>
                    <div class="col">
                        <div class="row">
                            <h3>@oferta.Name</h3>
                        </div>
                        <div class="row">
                            <h4>10%</h4>
                        </div>
                    </div>
                </div>
            }
        }
    </div>*@
</div>

@code {
    [Parameter] public int? idTienda { get; set; }
    /*public List<Juego> listaOfertas = new List<Juego>();

    private Juego AlanWake = new Juego("Alan Wake 2", "Un juego de terror", "/imagenes/AlanWake2.jpg");
    private Juego Cs2 = new Juego("Counter Strike 2", "El pricipal shooter competitivo", "/imagenes/cs2.jpg");
    private Juego TheFinals = new Juego("The Finals", "La pricipal novedad en shooters", "/imagenes/TheFinals.jpg");

    protected override void OnInitialized()
    {

        listaOfertas.Add(AlanWake);
        listaOfertas.Add(Cs2);
        listaOfertas.Add(TheFinals);
        listaOfertas.Add(AlanWake);
        listaOfertas.Add(Cs2);
        listaOfertas.Add(TheFinals);
        listaOfertas.Add(AlanWake);
        listaOfertas.Add(Cs2);
        listaOfertas.Add(TheFinals);
    }*/
}
