@using FlaggGaming.Model

<div class="row">
    <div class="col-12">
        <h2>OFERTAS</h2>
    </div>
</div>

<!-- Tarjeta para el Disco -->
<div class="row mb-3">
    <div class="col-12 card cardHvr">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <img src="/imagenes/discos.jpg" class="img-fluid" />
            </div>
            <div class="col-md-8 card-body">
                <h2 class="card-title">Disco</h2>
                <p>Un disco SSD (Solid State Drive) es un dispositivo de almacenamiento rápido y eficiente que utiliza memoria flash en lugar de discos giratorios como los HDD. Ofrece mayor velocidad de lectura y escritura, menor tiempo de arranque del sistema, y es más resistente a golpes y caídas.</p>
                <p class="card-text">Precio: $7500</p>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta para la Fuente -->
<div class="row mb-3">
    <div class="col-12 card cardHvr">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <img src="/imagenes/fuentes.jpg" class="img-fluid" />
            </div>
            <div class="col-md-8 card-body">
                <h2 class="card-title">Fuente</h2>
                <p>Una fuente de PC convierte la corriente alterna de la red eléctrica en corriente continua para los componentes del ordenador. Proporciona energía a la placa base, CPU, GPU, discos y otros periféricos. Su capacidad se mide en vatios, y una buena fuente garantiza estabilidad y protección contra sobrecargas.</p>
                <p class="card-text">Precio: $10000</p>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta para el Gabinete -->
<div class="row mb-3">
    <div class="col-12 card cardHvr">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <img src="/imagenes/gabinetes.jpg" class="img-fluid" />
            </div>
            <div class="col-md-8 card-body">
                <h2 class="card-title">Gabinete</h2>
                <p>Un gabinete de PC es la estructura que alberga y protege todos los componentes internos del ordenador. Ofrece espacio para la placa base, discos, tarjetas gráficas, y ventilación adecuada. Viene en varios tamaños y diseños, con opciones para gestión de cables y expansión futura. Es esencial para la organización y enfriamiento del sistema.</p>
                <p class="card-text">Precio: $30000</p>
            </div>
        </div>
    </div>
</div>


@code {
   
}
